In [25]:
import pandas as pd
from sklearn.neighbors import LocalOutlierFactor
from numpy import quantile
import warnings

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [26]:
df = pd.read_csv(r'..\..\datasets\df_rob_norm_most_common_ncm.csv', encoding='latin-1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76457 entries, 0 to 76456
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nf_timestamp     76457 non-null  float64
 1   emit_lat         76457 non-null  float64
 2   emit_long        76457 non-null  float64
 3   prod_quant       76457 non-null  float64
 4   prod_valor_unit  76457 non-null  float64
dtypes: float64(5)
memory usage: 2.9 MB

In [27]:
model = LocalOutlierFactor(n_neighbors=1000, contamination=0.001) 
model.fit_predict(df)
df['anomaly_score'] = model.negative_outlier_factor_ 

outlier_thresh = 0.001

thresh = quantile(df['anomaly_score'], outlier_thresh)

print(thresh)

df_outliers = df[df['anomaly_score'] <= thresh]

df_outliers

-11.726699391797869

,nf_timestamp,emit_lat,emit_long,prod_quant,prod_valor_unit,anomaly_score
3896,0.235142,0.000000,0.000000,-0.047297,122.752887,-27.375596
7316,-0.690965,0.000000,0.000000,2026.972973,-0.331088,-45.679362
7320,-0.524181,0.000000,0.000000,2026.972973,-0.331088,-45.679361
11098,1.016183,0.000000,0.000000,-0.047297,122.752887,-27.376716
14548,0.044119,0.000000,0.000000,675.621622,-0.331328,-14.012802
...,...,...,...,...,...,...
73222,0.401699,-39.020332,-4.738681,675.621622,-0.328200,-13.993892
73281,0.091598,-39.020332,-4.738681,675.621622,-0.328200,-13.993961
73298,-0.097057,-39.020332,-4.738681,1123.594595,-0.328922,-24.272205
73375,0.295037,-39.020332,-4.738681,675.621622,-0.328200,-13.993890
76440,-0.738618,-40.081049,-5.104456,844.540541,-0.327719,-17.859340

In [28]:
df_outliers['idx'] = df_outliers.index
df_outliers = df_outliers.sort_values(by='anomaly_score', ascending=True)
df_outliers.to_csv('output\outliers.csv', index=False)
df_outliers

,nf_timestamp,emit_lat,emit_long,prod_quant,prod_valor_unit,anomaly_score,idx
44440,-0.768401,-2.233786,0.439969,-0.040541,280.254331,-64.729248,44440
49265,-0.605170,0.673588,0.461986,-0.027027,223.875361,-51.163572,49265
63261,0.444759,-8.328042,-7.680590,0.013514,204.528393,-46.348535,63261
63260,0.307923,-8.328042,-7.680590,-0.047297,204.528393,-46.348467,63260
63310,0.671855,-8.328042,-7.680590,0.006757,204.528393,-46.343608,63310
...,...,...,...,...,...,...,...
72036,-0.059566,26.911774,-10.993497,-0.047297,1.592878,-11.858594,72036
72037,-0.059566,26.911774,-10.993497,-0.047297,1.685034,-11.827852,72037
72033,-0.321656,26.911774,-10.993497,-0.047297,1.592878,-11.795488,72033
72034,-0.321656,26.911774,-10.993497,-0.047297,1.685034,-11.761277,72034
72039,-0.059566,26.911774,-10.993497,-0.040541,2.943936,-11.741728,72039