In [1]:
import pandas as pd
from sklearn.neighbors import LocalOutlierFactor
from numpy import quantile
import warnings

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r'..\..\datasets\df_norm_most_common_ncm.csv', encoding='latin-1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76457 entries, 0 to 76456
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nf_timestamp     76457 non-null  float64
 1   emit_lat         76457 non-null  float64
 2   emit_long        76457 non-null  float64
 3   prod_quant       76457 non-null  float64
 4   prod_valor_unit  76457 non-null  float64
dtypes: float64(5)
memory usage: 2.9 MB

In [3]:
model = LocalOutlierFactor(n_neighbors=20) 
model.fit_predict(df)
df['anomaly_score'] = model.negative_outlier_factor_ 

outlier_thresh = 0.01

thresh = quantile(df['anomaly_score'], outlier_thresh)

print(thresh)

df_outliers = df[df['anomaly_score'] <= thresh]

df_outliers

-2.054871807707636

,nf_timestamp,emit_lat,emit_long,prod_quant,prod_valor_unit,anomaly_score
221,0.990619,0.897163,-1.188215,2.197225,3.912023,-2.149177
617,0.028736,0.897163,-1.188215,8.295299,0.963174,-2.151360
1957,0.780930,0.897163,-1.188215,8.131825,1.241269,-2.161892
3896,0.629716,0.000000,0.000000,0.693147,8.540208,-2.305825
4795,0.079929,0.000000,0.000000,3.761200,1.217876,-2.094469
...,...,...,...,...,...,...
76248,0.994039,15.170552,-4.434967,0.693147,1.029619,-2.337963
76293,0.927988,-52.722380,-5.665567,3.713572,1.558145,-2.689005
76343,0.990764,-54.679088,-7.269962,6.216606,1.075002,-2.363275
76427,0.875067,8.889834,-1.113046,7.576097,1.435085,-2.744276
76453,0.927766,-36.293552,-5.978351,1.609438,2.042518,-2.238711

In [4]:
df_outliers['idx'] = df_outliers.index
df_outliers = df_outliers.sort_values(by='anomaly_score', ascending=True)
df_outliers.to_csv('output\outliers.csv', index=False)
df_outliers

,nf_timestamp,emit_lat,emit_long,prod_quant,prod_valor_unit,anomaly_score,idx
72126,0.936271,-25.333011,-5.930694,7.783641,1.916923,-1.495778e+06,72126
72187,0.936271,-25.333011,-5.930694,7.601402,1.916923,-1.311775e+06,72187
72148,0.936271,-25.333011,-5.930694,6.908755,1.916923,-1.280310e+06,72148
72216,0.894113,-25.333011,-5.930694,7.741099,1.098612,-8.352116e+05,72216
72176,0.994136,-25.333011,-5.930694,6.908755,1.128171,-8.168349e+05,72176
...,...,...,...,...,...,...,...
33897,0.007522,0.276139,0.441207,0.693147,4.464067,-2.061588e+00,33897
67066,0.679505,0.398100,-0.081279,4.110874,2.783158,-2.060076e+00,67066
24171,0.065379,0.000000,0.000000,5.017280,0.039221,-2.057364e+00,24171
50887,0.203079,-44.758709,-7.369163,2.397895,3.970292,-2.056566e+00,50887
62034,0.041342,-0.282049,0.239925,1.098612,3.044522,-2.054883e+00,62034