In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest
import warnings

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r'..\..\datasets\df_norm_most_common_ncm.csv', encoding='latin-1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76457 entries, 0 to 76456
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nf_timestamp     76457 non-null  float64
 1   emit_lat         76457 non-null  float64
 2   emit_long        76457 non-null  float64
 3   prod_quant       76457 non-null  float64
 4   prod_valor_unit  76457 non-null  float64
dtypes: float64(5)
memory usage: 2.9 MB

In [3]:
model = IsolationForest(
    random_state=26,
    verbose=True,
    contamination=0.01,
    n_estimators=100
)

model.fit(df)

anomaly_predictions = model.predict(df)
df['anomaly_score'] = model.decision_function(df)

df_outliers = df[anomaly_predictions == -1]
df_outliers.head(5)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.8s finished

,nf_timestamp,emit_lat,emit_long,prod_quant,prod_valor_unit,anomaly_score
40457,0.989462,-41.864126,-4.148677,5.192957,3.048799,-0.006586
40617,0.428321,-34.017456,-3.577181,8.006701,0.916291,-0.000949
40619,0.638342,-34.017456,-3.577181,8.006701,0.463734,-0.008528
40620,0.638342,-34.017456,-3.577181,8.006701,0.500775,-0.008348
40625,0.357084,-34.017456,-3.577181,9.615872,0.470004,-0.022492

In [4]:
index_array = df_outliers.index.values
index_array

array([40457, 40617, 40619, 40620, 40625, 46587, 46588, 46589, 46590,
       46591, 46592, 46593, 46594, 46596, 46597, 46598, 46599, 46600,
       46601, 46602, 46603, 46604, 46605, 46606, 47533, 47540, 47557,
       47558, 47567, 47568, 47569, 47581, 47588, 47594, 47595, 47604,
       47607, 47614, 47616, 47617, 47628, 47629, 47635, 47647, 47667,
       47672, 47675, 47678, 47680, 47682, 47686, 47690, 47692, 47693,
       47694, 47696, 50887, 55969, 55970, 55974, 55975, 55976, 55978,
       55979, 56028, 56029, 56033, 56034, 56035, 56037, 56038, 56136,
       56143, 56144, 56149, 56150, 56151, 56236, 56257, 56278, 56288,
       56313, 56342, 56355, 56357, 56370, 56390, 56397, 56418, 56450,
       56452, 56479, 56511, 56516, 56519, 56520, 56526, 56593, 56594,
       56614, 56671, 56964, 56965, 56967, 56968, 56969, 56971, 56973,
       56974, 56976, 56977, 56978, 56981, 56982, 56983, 56984, 56989,
       56992, 56993, 56995, 56998, 57000, 62143, 62147, 62149, 62152,
       62153, 62154, 62157, 62159, 62160, 62162, 62166, 62170, 62172,
       62173, 62175, 62178, 62182, 62183, 62184, 62185, 62188, 62195,
       62197, 62199, 62200, 62201, 62207, 62208, 62209, 62211, 62215,
       62217, 62220, 62221, 62223, 62226, 62228, 62229, 62235, 62237,
       62240, 62246, 62248, 62250, 62255, 62256, 62257, 62259, 62265,
       62266, 62267, 62268, 62269, 62270, 62271, 62272, 62273, 62274,
       62275, 62276, 62277, 62278, 62279, 62280, 62281, 62282, 62283,
       62284, 62285, 62286, 62287, 62288, 62289, 62290, 62291, 62292,
       62293, 62294, 62295, 62296, 62297, 62298, 62299, 62300, 62301,
       62302, 62303, 62304, 62305, 62306, 62307, 62308, 62309, 62310,
       62311, 62312, 62313, 62314, 62315, 62316, 62317, 62318, 62319,
       62320, 62321, 62322, 62323, 62324, 62325, 62326, 63262, 63267,
       63276, 63277, 63283, 63284, 63293, 63294, 63300, 63301, 63304,
       63313, 63314, 63321, 63330, 63336, 63337, 63812, 63813, 63819,
       63823, 63824, 63833, 63839, 65061, 65062, 65063, 65064, 65065,
       65066, 65067, 65068, 65069, 65070, 65072, 65079, 65107, 65108,
       65109, 65110, 65111, 65112, 65113, 65114, 65115, 65116, 65117,
       65118, 65119, 65120, 65121, 65122, 65123, 65203, 65216, 65218,
       65219, 65264, 65265, 65266, 65267, 65270, 65271, 65273, 65275,
       65278, 65279, 65280, 65283, 65287, 65295, 65296, 65297, 65325,
       65413, 65416, 65433, 65437, 65531, 65533, 65556, 65558, 65559,
       65560, 65565, 65570, 65572, 65577, 65578, 65585, 65634, 65635,
       65678, 65679, 65680, 65681, 70813, 70814, 70815, 70816, 70817,
       70818, 70819, 70820, 70821, 70822, 70830, 70832, 70833, 70834,
       70835, 70836, 70837, 70839, 70840, 70841, 70842, 70843, 70844,
       70845, 70847, 70848, 70849, 70850, 70851, 70852, 70853, 70854,
       70855, 70856, 70858, 70859, 70860, 70861, 70862, 70863, 70864,
       70865, 70866, 70867, 70868, 70869, 70870, 70871, 70872, 70873,
       70874, 70875, 70876, 70877, 70878, 70879, 70880, 70881, 70882,
       70884, 70886, 70887, 70888, 70890, 70893, 70894, 70896, 70897,
       70898, 70905, 70907, 70908, 70909, 70910, 70911, 70912, 70913,
       70914, 70915, 70916, 70921, 70971, 71759, 71761, 71762, 71764,
       71766, 71769, 71770, 71776, 71779, 71780, 71789, 71793, 71795,
       71796, 71799, 71964, 71965, 71966, 71967, 71968, 71969, 71970,
       71971, 72028, 72074, 72075, 72076, 72077, 72078, 72079, 72080,
       72081, 72083, 72084, 72087, 72088, 72089, 72102, 72103, 72104,
       72106, 72107, 72111, 72112, 72113, 72121, 72122, 72123, 72124,
       72125, 72126, 72128, 72129, 72132, 72133, 72134, 72137, 72138,
       72139, 72144, 72145, 72146, 72147, 72150, 72152, 72153, 72154,
       72157, 72165, 72166, 72167, 72169, 72171, 72172, 72174, 72175,
       72176, 72177, 72179, 72184, 72185, 72186, 72187, 72190, 72191,
       72192, 72194, 72195, 72197, 72198, 72199, 72203, 72204, 72205,
       72216, 72217, 72220, 72221, 72222, 72223, 72224, 72225, 72226,
       72227, 72228, 72229, 72233, 72234, 72235, 72237, 72241, 72242,
       72245, 72246, 72250, 72251, 72252, 72260, 72261, 72263, 72264,
       72265, 72266, 72267, 72268, 72270, 72271, 72272, 72275, 72276,
       72277, 72278, 72280, 72286, 72287, 72288, 72290, 72291, 72292,
       72294, 72295, 72296, 72297, 72298, 72300, 72301, 72302, 73124,
       73127, 73128, 73130, 73133, 73134, 73135, 73139, 73141, 73147,
       73148, 73152, 73153, 73154, 73157, 73158, 73159, 73160, 73163,
       73166, 73168, 73169, 73170, 73171, 73173, 73174, 73176, 73178,
       73179, 73180, 73184, 73185, 73186, 73187, 73188, 73189, 73190,
       73191, 73192, 73193, 73194, 73195, 73196, 73198, 73199, 73202,
       73203, 73205, 73207, 73209, 73211, 73214, 73217, 73219, 73222,
       73224, 73228, 73229, 73232, 73233, 73234, 73237, 73238, 73242,
       73243, 73244, 73248, 73249, 73250, 73254, 73255, 73256, 73257,
       73258, 73262, 73266, 73268, 73269, 73273, 73274, 73275, 73278,
       73281, 73282, 73283, 73284, 73285, 73286, 73288, 73292, 73293,
       73295, 73298, 73299, 73300, 73301, 73307, 73309, 73311, 73313,
       73314, 73315, 73316, 73318, 73319, 73320, 73321, 73324, 73325,
       73326, 73336, 73337, 73339, 73340, 73341, 73347, 73348, 73349,
       73352, 73356, 73360, 73361, 73366, 73367, 73368, 73371, 73372,
       73373, 73375, 73376, 73377, 73381, 73383, 73385, 73388, 73389,
       73390, 73392, 73396, 73400, 73990, 73993, 73995, 74017, 74030,
       74040, 74041, 74044, 74045, 74046, 74068, 74095, 74098, 74099,
       74109, 74120, 74124, 74125, 74126, 74127, 74134, 74159, 74179,
       74180, 74181, 74185, 74198, 74199, 74217, 76293, 76294, 76295,
       76296, 76297, 76298, 76299, 76300, 76301, 76306, 76307, 76312,
       76313, 76318, 76324, 76328, 76331, 76335, 76336, 76337, 76338,
       76339, 76343, 76439, 76440, 76441, 76442, 76443, 76444, 76445,
       76446, 76447, 76448, 76449, 76450, 76451, 76452, 76455, 76456],
      dtype=int64)

In [5]:
df_outliers['idx'] = df_outliers.index
df_outliers = df_outliers.sort_values(by='anomaly_score')
df_outliers.to_csv('output\outliers.csv', index=False)
df_outliers

,nf_timestamp,emit_lat,emit_long,prod_quant,prod_valor_unit,anomaly_score,idx
71971,0.136962,-54.642650,-7.315482,11.695255,0.270027,-0.085583,71971
71964,0.144375,-54.642650,-7.315482,10.747229,0.182322,-0.083142,71964
71970,0.908121,-54.642650,-7.315482,11.002117,0.122218,-0.081285,71970
71968,0.453199,-54.642650,-7.315482,11.918397,0.113329,-0.071458,71968
71966,0.144375,-54.642650,-7.315482,9.105091,0.215111,-0.070326,71966
...,...,...,...,...,...,...,...
70817,0.246525,-64.463802,-6.744972,1.386294,3.258097,-0.000063,70817
70816,0.246525,-64.463802,-6.744972,1.386294,3.259250,-0.000063,70816
73188,0.668846,-39.020332,-4.738681,6.167516,0.039221,-0.000040,73188
72301,0.511450,-60.249002,-7.338564,1.609438,2.550226,-0.000030,72301
65273,0.983950,-2.166339,-12.403486,6.216606,0.322083,-0.000012,65273

In [6]:
index_df = pd.DataFrame(index_array, columns=['idx'])
index_df.to_csv('output\outlier_indexes.csv', index=True)

In [7]:
dft = pd.read_csv(r'output\outliers.csv', encoding='latin-1')
dft.set_index('idx', inplace=True)
dft = dft.sort_values(by='anomaly_score', ascending=True)
dft.head(5)

,nf_timestamp,emit_lat,emit_long,prod_quant,prod_valor_unit,anomaly_score
idx,,,,,,
71971,0.136962,-54.64265,-7.315482,11.695255,0.270027,-0.085583
71964,0.144375,-54.64265,-7.315482,10.747229,0.182322,-0.083142
71970,0.908121,-54.64265,-7.315482,11.002117,0.122218,-0.081285
71968,0.453199,-54.64265,-7.315482,11.918397,0.113329,-0.071458
71966,0.144375,-54.64265,-7.315482,9.105091,0.215111,-0.070326