In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler
from statsmodels.robust.scale import mad as median_abs_deviation
import warnings

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r'..\..\datasets\nfs_cleaned.csv', encoding='latin-1')
pd.set_option('display.max_columns', None)
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2065547 entries, 0 to 2065546
Data columns (total 19 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   nf_numero         2065547 non-null  int64
 1   nf_item           2065547 non-null  int64
 2   nf_datahora       2065547 non-null  object
 3   nf_timestamp      2065547 non-null  int64
 4   nf_valor_total    2065547 non-null  float64
 5   emit_nome         2065547 non-null  object
 6   emit_cnpj         2065547 non-null  int64
 7   emit_bairro       2065547 non-null  object
 8   emit_municipio    2065547 non-null  object
 9   emit_cep          2065547 non-null  int64
 10  emit_lat          2065547 non-null  float64
 11  emit_long         2065547 non-null  float64
 12  prod_desc         2065547 non-null  object
 13  prod_ncm          2065547 non-null  int64
 14  prod_cfop         2065547 non-null  int64
 15  prod_quant        2065547 non-null  float64
 16  prod_unid         2065547 non-null  object
 17  prod_valor_unit   2065547 non-null  float64
 18  prod_valor_total  2065547 non-null  float64
dtypes: float64(6), int64(7), object(6)
memory usage: 299.4+ MB

In [3]:
df = df[[
    'nf_timestamp',
    'emit_lat',
    'emit_long',
    'prod_ncm',
    'prod_quant',
    'prod_valor_unit',
]]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2065547 entries, 0 to 2065546
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   nf_timestamp     int64
 1   emit_lat         float64
 2   emit_long        float64
 3   prod_ncm         int64
 4   prod_quant       float64
 5   prod_valor_unit  float64
dtypes: float64(4), int64(2)
memory usage: 94.6 MB

In [4]:
robust_scaler = RobustScaler()
robust_scaler.fit(df)
normalized_data = robust_scaler.transform(df)
df_rob_norm = pd.DataFrame(data=normalized_data, columns=df.columns)
df_rob_norm.to_csv('..\..\datasets\df_rob_norm.csv', index=False)
df_rob_norm.head(5)

   nf_timestamp  emit_lat  emit_long  prod_ncm  prod_quant  prod_valor_unit
0     -0.952957  0.692208  -1.051372  0.129629     -0.1875         0.101375
1     -0.952957  0.692208  -1.051372  1.317299     -0.1875         0.044674
2     -0.952957  0.692208  -1.051372  1.317299     -0.1875        -0.001718
3     -0.952957  0.692208  -1.051372  1.317258     -0.1875        -0.113402
4     -0.952957  0.692208  -1.051372  1.079967     -0.1875         0.326460

In [5]:
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df)
df_minmax_norm = pd.DataFrame(data=normalized_data, columns=df.columns)
df_minmax_norm.to_csv('..\..\datasets\df_minmax_norm.csv', index=False)
df_minmax_norm.head(5)

   nf_timestamp  emit_lat  emit_long  prod_ncm    prod_quant  prod_valor_unit
0      0.093633  0.719271   0.871016   0.39261  1.250000e-08     1.425952e-07
1      0.093633  0.719271   0.871016   0.96084  1.250000e-08     1.189487e-07
2      0.093633  0.719271   0.871016   0.96084  1.250000e-08     9.960165e-08
3      0.093633  0.719271   0.871016   0.96082  1.250000e-08     5.302534e-08
4      0.093633  0.719271   0.871016   0.84729  1.250000e-08     2.364644e-07

In [6]:
'''robust_z_scores = {}

for column in df_norm.columns:
    column_data = df_norm[column].values
    median = np.median(column_data)
    mad = median_abs_deviation(column_data)
    robust_z_scores[column] = (column_data - median) / mad

df_rob_zscores = pd.DataFrame(robust_z_scores)
df_rob_zscores.to_csv('..\..\datasets\df_rob_zscores.csv', index=False)
df_rob_zscores'''

"robust_z_scores = {}\n\nfor column in df_norm.columns:\n    column_data = df_norm[column].values\n    median = np.median(column_data)\n    mad = median_abs_deviation(column_data)\n    robust_z_scores[column] = (column_data - median) / mad\n\ndf_rob_zscores = pd.DataFrame(robust_z_scores)\ndf_rob_zscores.to_csv('..\\..\\datasets\\df_rob_zscores.csv', index=False)\ndf_rob_zscores"

In [7]:
z_scores = {}

for column in df_rob_norm.columns:
    column_data = df_rob_norm[column].values
    mean = np.mean(column_data)
    std = np.std(column_data)
    z_scores[column] = (column_data - mean) / std

df_rob_zscores = pd.DataFrame(z_scores)
df_rob_zscores.to_csv('..\..\datasets\df_rob_zscores.csv', index=False)
df_rob_zscores

,nf_timestamp,emit_lat,emit_long,prod_ncm,prod_quant,prod_valor_unit
0,-1.616331,0.338031,-0.21639,-0.150433,-0.005568,-0.003690
1,-1.616331,0.338031,-0.21639,1.855370,-0.005568,-0.003723
2,-1.616331,0.338031,-0.21639,1.855370,-0.005568,-0.003751
3,-1.616331,0.338031,-0.21639,1.855300,-0.005568,-0.003818
4,-1.616331,0.338031,-0.21639,1.454550,-0.005568,-0.003556
...,...,...,...,...,...,...
2065542,0.029734,-2.596860,-2.44312,-0.653478,-0.005534,-0.003812
2065543,0.029734,-2.596860,-2.44312,-0.510714,-0.005501,-0.003746
2065544,0.029734,-2.596860,-2.44312,-0.757222,-0.005252,-0.003726
2065545,0.029734,-2.596860,-2.44312,-0.335394,-0.004753,-0.003747
2065546,0.029734,-2.596860,-2.44312,-1.108519,-0.005551,-0.003290

In [8]:
z_scores = {}

for column in df_minmax_norm.columns:
    column_data = df_minmax_norm[column].values
    mean = np.mean(column_data)
    std = np.std(column_data)
    z_scores[column] = (column_data - mean) / std

df_minmax_zscores = pd.DataFrame(z_scores)
df_minmax_zscores.to_csv('..\..\datasets\df_minmax_zscores.csv', index=False)
df_minmax_zscores

,nf_timestamp,emit_lat,emit_long,prod_ncm,prod_quant,prod_valor_unit
0,-1.616331,0.338031,-0.21639,-0.150433,-0.005568,-0.003690
1,-1.616331,0.338031,-0.21639,1.855370,-0.005568,-0.003723
2,-1.616331,0.338031,-0.21639,1.855370,-0.005568,-0.003751
3,-1.616331,0.338031,-0.21639,1.855300,-0.005568,-0.003818
4,-1.616331,0.338031,-0.21639,1.454550,-0.005568,-0.003556
...,...,...,...,...,...,...
2065542,0.029734,-2.596860,-2.44312,-0.653478,-0.005534,-0.003812
2065543,0.029734,-2.596860,-2.44312,-0.510714,-0.005501,-0.003746
2065544,0.029734,-2.596860,-2.44312,-0.757222,-0.005252,-0.003726
2065545,0.029734,-2.596860,-2.44312,-0.335394,-0.004753,-0.003747
2065546,0.029734,-2.596860,-2.44312,-1.108519,-0.005551,-0.003290